.container {
  width: 40rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  .title {
    height: 7rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    h2 {
      font-weight: 600;
    }
    .buttonbackArea {
      button {
        display: flex;
        justify-content: center;
        border: none;
        background: none;
        font-weight: 600;
        color: #1db954;
        svg {
          margin-left: 0.5rem;
        }
      }
    }
  }
  .artistsCardArea {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
