.container {
  min-height: 100vh;
  margin-top: -5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .cardArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media (max-width: 650px) {
  .container {  
    margin-top: 0;
    .cardArea {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}