.Header {
  background-color: #3f3d3d;
  color: #fff;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  .logoArea {
    h1 {
      span {
        color: #1db954;
      }
    }
  }
  .userInfoLogOutArea {
    div {
      font-size: 1rem;
      span {
        color: #1db954;
        font-weight: bold;
        margin: 0 0.5rem;
      }
      button {
        color: #fff;
        border: none;
        background: none;
        font-size: 1rem;
      }
    }
  }
}
